@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,100..800;1,100..800&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Glory", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root{
  background-color: hsl(0, 0%, 90%);
  transition: background-color 300ms;
}

